@{ Layout = "_Layout"; ViewBag.Title = "Add a Rating";}


<h2>Add a Rating <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddRating" method="post">
    <div class="form-group">
        <label for="RateID">Rating:</label>
        <select class="form-control" id="RateID" name="RateID">
            <option>Excelent</option>
            <option>Moderate</option>
            <option>Needs Improvement</option>
        </select>
    </div>
    <div class="form-group">
        <label for="RateTxt">Rate Text:</label>
        <input class="form-control" name="RateTxt" maxlength=250 />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Rating</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>Rate ID</th><th>Rate Text</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.RateID </td>
                <td>@Model.RateTxt </td>
            </tr>
        </tbody>
    </table>
}