@model Ratings
@{ Layout = "_Layout"; ViewBag.Title = "Get Rating by Id";}

<h2>Rating selected <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>

@if (Model != null)
{
    <h2>Rating</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>Rate</th><th>Rate Text</th></tr></thead>
        <tbody>
            <tr>
                @if (Model.RateID < 2)
                {
                    <td>Excelent</td>
                }
                @if (@Model.RateID == 2)
                {
                    <td>Moderate</td>
                }
                @if (@Model.RateID > 2)
                {
                    <td>Needs Improvement</td>
                }
                <td>@Model.RateTxt </td>
            </tr>
        </tbody>
    </table>
}